<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shaman</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <!-- <script src="../static/script.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Configuring Shaman...</h1>
    <div class="form-group">
      <label for="major-types">Enter major:</label>
      <select name="major-types" id="major-types">
        <option value="none" selected disabled hidden>Add major</option>
        <option value="ise">Industrial & Systems Engineering</option>
        <option value="ame">Mechanical Engineering</option>
        <option value="cs">Computer Science</option>
        <option value="math">Mathematics</option>
      </select>
    </div>
    <br />
    <div>
      <label for="semesters"
        >Enter number of semesters you wish to graduate in:</label
      ><input type="number" id="semesters" name="semesters" min="2" max="12" />
    </div>
    <button onclick="sendData()" id="run-algorithm">Go</button>
    <script>
      function sendData() {
        let resp = fetch(`${window.location.origin}/process`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: `{"value":"50"}`,
        }).then((v) => {
          console.log("it worked!!!!");
        });
      }
    </script>
  </body>
</html>
